<div>
    <%= @car_category.name %>
</div>
<div>
    <%= number_to_currency @car_category.daily_rate %>
</div>
<div>
    <%= number_to_currency @car_category.car_insurance %>
</div>
<div>
    <%= number_to_currency @car_category.third_party_insurance %>
</div>

<h6>Modelos de carro para esta categoria</h6>

<% if CarModel.exists? %>
    <% @car_models.each do |car_model| %>
        <div>
            <%= link_to "#{car_model.name} - #{car_model.year}", car_model %>
        </div>
        <div>
            <%= car_model.manufacturer %>
        </div>
    <% end %>
<% else %>
    <%= "Nenhum modelo de carro cadastrado" %>
<% end %>

<div>
    <%= link_to "Voltar", car_categories_path %>
    <%= link_to "Editar categoria", edit_car_category_path(@car_category) %> 
    <%= link_to "Apagar", car_category_path(@car_category), method: :delete,
                          data: { confirm: "Tem certeza que deseja excluir #{@car_category.name}?" } %>
</div>


