<% @car.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>

<%= form_with model: @car, local: true do |f| %>
  <div>
    <%= f.label :car_model_id %>
    <%= f.collection_select(:car_model_id, @car_models, :id, :name, prompt: 'Escolha um modelo de carro') %>
  </div>
  <div>
    <%= f.label :subsidiary_id %>
    <%= f.collection_select(:subsidiary_id, @subsidiaries, :id, :name, prompt: 'Escolha uma filial') %>
  </div>
  <div>
    <%= f.label :license_plate  %>
    <%= f.text_field :license_plate %>
  </div>
  <div>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div>
    <%= f.label :mileage %>
    <%= f.number_field :mileage %>
  </div>
  <div>
        
  </div>
    <%= f.submit 'Cadastrar carro' %>
<% end %>