<h1>Detalhes do carro</h1>
<div>
    <%= 'Placa' %>
    <%= @car.license_plate %>
</div>
<div>
    <%= 'Modelo do carro' %>
    <%= @car.car_model.name %>
</div>
<div>
    <%= 'Cor' %>
    <%= @car.color %>
</div>
<div>
    <%= 'Filial' %>
    <%= @car.subsidiary.name %>
</div>
<div>
    <%= 'Quilometragem' %>
    <%= @car.mileage %>
</div>
<div>
    <%= 'Ano' %>
    <%= @car.car_model.year %>
</div>

