<div>
    <%= @car_model.name %>
</div>
<div>
    <%= @car_model.year %>
</div>
<div>
    <%= @car_model.manufacturer %>
</div>
<div>
    <%= @car_model.motorization %>
</div>
<div>
    <%= @car_model.car_category.name %>
</div>
<div>
    <%= @car_model.fuel_type %>
</div>


